@model Models.Developer

<html lang = "ru">
<head>
    <title>МегаКрутаяТабличкаРазрабов</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
<h2>Создать разработчика</h2>
<form asp-action="Create" method="POST">
    <div class="form-group">
       <label asp-for="Name" for="Name">Название:</label>
       <input asp-for="Name" name="Name" for="Name" class="form-control"/>
       <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Rating">Рейтинг:</label>
        <input asp-for="Rating" name="Rating" class="form-control" />
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WAmount">Количество рабочих:</label>
        <input asp-for="WAmount" name="WAmount" class="form-control" />
        <span asp-validation-for="WAmount" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" id="saveButton">Сохранить</button>
</form>
<div>
    <a asp-action="Index" href="../Developer">Назад к списку разработчиков</a>
</div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
