@model Models.Series

<html lang = "ru">
<head>
    <title>МегаКрутаяТабличкаСерииИгр</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
    <h2>Редактировать серии игр</h2>

    <form asp-action="Edit" method="POST">
    <table>
        <th class="SmallDataCell">ID</th>
        <th class="DataCell">Название</th>

        <tr class="DataRow">
            <td class="SmallDataCell" name="Id"><input name="Id" type="hidden" value="@Model.Id" />@Model.Id</td>
            <td class="DataCell"><input name="Name" value="@Model.Name"></td>
        </tr>
    </table>

    <button type="submit" class="btn btn-primary" id="saveButton">Сохранить</button>
    </form>

    <div>
        <a asp-action="Index" class="btn btn-secondary" href="../">Назад к списку серий игр</a>
    </div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
