<html lang = "ru">
<head>
    <title>МегаКрутаяБД</title>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
    <h2>Ультимативная БД по накрутке баллов.</h2>
    <div><a href="GameOwnership">Покупки</div>
    <div><a href="Game">Игры</div>
    <div><a href="Player">Игроки</div>
    <div><a href="Developer">Разработчики</div>
    <div><a href="Series">Серии игр</div>
</body>